<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="BaseWebApiAddress" value="http://localhost:44309/" />
    <add key="IntervalInMinutes" value="5" />
    <add key="IncludeHeaders" value="true" />
    <add key="CSVCustomFileNameFormat" value="FILE_INFO_{date}" />
    <add key="CSVCustomFileDateFormat" value="yyyyMMdd_HHmmss" />
  </appSettings>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
  <add name="IPDetailsDB" connectionString="Data Source=ECHETLAEUS-PC\SQLEXPRESS;Initial Catalog=IPDetailsDB;Integrated Security=true;" />
  </connectionStrings>
</configuration>
